<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Registered patients</h1>
    <table>
        <thead>
            <tr>
                <th>Name</td>
                <th>Phonenumber</th>
                <th>View</th>
            </tr>
        </thead>
        <tbody>
            {% for patient in allpatients %}
                <tr>
                    <td>{{ patient.name }}</td>
                    <td>{{ patient.number }}</td>
                    <td><a href ="{% url 'getsinglepatient' patient.pk %}">View</a></td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
    <form method="post" action="{% url 'login' %}">
        {% csrf_token %}
            <button type="submit">login</button>
    </form>
    <form method="post" action="{% url 'doctorregisterpatient' %}">
        {% csrf_token %}
            <button type="submit">Add Patient</button>
    </form>
</body>
</html>